<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="SourceServer" connectionString="Data Source=orc-azu-dev-sql01.database.windows.net,1433;user id=Devdbadmin;password=JyoQRLYeabcvZ10m0f1E;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DestinationServer" connectionString="Data Source=orc-azu-dev-sql01.database.windows.net,1433;user id=Devdbadmin;password=JyoQRLYeabcvZ10m0f1E;" providerName="System.Data.SqlClient" />-->
		
		
		<add name="SourceServer" connectionString="Server=LAPTOP-8CRF621B;Database=BankingDB;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
		
		<add name="DestinationServer" connectionString="Server=LAPTOP-8CRF621B;Database=BankingDB;Trusted_Connection=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		
		
		<add name="OrchestratorDB2" connectionString="Data Source=orc-azu-sql02.database.windows.net;user id=dbadmin;password=3zz4bwSW9MsRda;" providerName="System.Data.SqlClient" />
		<add name="OrchestratorDB3" connectionString="Data Source=orc-azu-sql01.database.windows.net;user id=dbadmin;password=JyoQRLYeabcvZ10m0f1E;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="BackupDatabaseList" value="BankingDB" />
		<add key="DestinationDatabaseList" value="BankingDBRestore" />
		<!--<add key="DestinationDatabaseList" value="GlovalShippingLogging,InterworldFreightLogging" />-->
		<!--<add key="BackupTableList" value="dbo.ErrorLog,dbo.SystemLog" />-->
		<add key="BackupTableList" value="dbo.Accounts" />
		<add key="BackupLogTable" value="BackupConfiguration" />
		<add key="IsOrchestrator" value="false" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>